.footer__menu-link-copyright {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}

@media(min-width:768px){
  .footer__menu-link-copyright {
    display: flex;
    line-height: 16px;
    margin: 0;
  }
}
