.footer__menu-link {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
  color: #FFFFFF;
  text-decoration: none;
}

@media(min-width:768px){
  .footer__menu-link {
    font-size: 16px;
    line-height: 18px;
    display: inline;
    margin-right: 18px;
    margin-bottom: 0;
  }
}
