.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: center;
  z-index: 2;
  position: relative;
  margin-top: 16px;
  margin-bottom: 0;
  max-width: 288px;
  align-self: center;
}

@media(min-width:768px){
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    margin-top: 32px;
  }
}
