
  .footer{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
    margin-top: 64px;
  }
  @media(min-width:768px){
    .footer{
      display: flex;
      justify-content: space-between;
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  @media(min-width:1024px){
    .footer{
      display: flex;
      justify-content: space-between;
      margin-left: 48px;
      margin-right: 48px;
    }
  }

