.map__picture {
  margin-top: 40px;
  max-width: 100%;
}
@media(min-width:768px) {
  .map__picture {
    margin-top: 56px;
    object-fit: cover;
  }
}

@media(min-width:1280px){
  .map__picture {
margin-top: 64px;
  }
}
